@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primereact/resources/themes/saga-purple/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #9333ea !important; /* Purple */
  border: 2px solid #7e22ce !important; /* Darker Purple Border */
  color: white !important;
}

.p-selectbutton .p-button.p-highlight:hover {
  background-color: #7e22ce !important; /* Darker purple on hover */
}
.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adds space between No & Yes buttons */
}